@using DocViewer.Presentation.Models.Docs;
@model DocsViewModel
@{
    ViewData["Title"] = "Docs";
    var currentSort = Convert.ToString(ViewData["CurrentSort"]);
}
<div class="container-flex">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Docs</h2>
        <div>
            <a href="/Docs/NewPost" class="btn btn-success">New Post</a>
        </div>
    </div>
    @Html.Partial("_DocsPartial", Model)
</div>

<script>
    $('#partialZone').load("/Docs/DocsPartial")
</script>