@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DocViewer</h1>
    <p>Visit my page at <a href="https://intervalrain.github.io">Rain's workspace</a>.</p>
</div>
