@{
    ViewData["Title"] = "Privacy";
}

<div class="text-center">
    <h1 class="display-4">Privacy</h1>
    <div class="container">
        &copy; 2024 - DocViewer - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div>
